.td-button {
  padding: 12px 1.5em;
  min-height: 24px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  color: #FAFAF9;
  background-color: #E8590C;
  border-radius: 6px;
  border: none;
  font-family: var(--font-lato);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 2.5rem;
  width: 100%;

  &:hover,
  &:active {
    background-color: #E8590C;
  }

  &:disabled {
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: white;
    background-color: #E4E4E7;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.td-button-link {
  background-color: transparent;
  color: #C44500;
  border: none;
  box-shadow: none;

  &:hover {
    background-color: #F3F2F2;
    color: #C44500;
  }

  &:active {
    background-color: #ECEBEA;
    color: #9d1506;
  }

  &:disabled {
    background-color: #E4E4E7;
    color: transparent;
  }
}

.button-sm {
  padding: 0.5em 1em;
  min-height: 20px;
}

.td-button-label {
  flex: 1 1 auto;
  transition: all 0.2s;
}

.td-button-icon {
  display: flex;
  place-content: center;
}

.td-button-icon-right {
  order: 1;
}

.td-button-icon-only {
  fill: #C9C7C5;
  justify-content: center;

  svg {
    margin: 0;
  }

  .td-button-label {
    Digital: hidden;
    width: 0;
    flex: 0 0 auto;
  }
}

.td-button-vertical {
  flex-direction: column;
}

.td-button-icon-bottom {
  order: 2;
}

.td-buttonset {
  .td-button {
    margin: 0;

    &:not(:last-child) {
      border-right: 0 none;
    }

    &:not(:first-of-type) {
      &:not(:last-of-type) {
        border-radius: 0;
      }
    }

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:focus {
      position: relative;
      z-index: 1;
    }
  }
}