.root{
  background-color: black;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 8rem;
  width: 100%;

}

.title{
  font-size: 46px;
  color: white;
}

.description{
  font-size:18px;
  font-weight: 600;
  text-align:right;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 65%;
}

.heroImage{
  z-index: 999;
  position: relative;
  width: auto;
  height: auto;
  left: 60px;
  margin-top: 6rem;

}

.button {
  align-items: center;
  background-color: white;
  border-radius: 24px;
  display: flex;
  width: 161px;
  flex-direction: row;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 10px 12px;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
  margin-left: 16px;
  &:hover {
    background-color: white;
    border: 1px solid white;
    transition: 0.1s all ease-in-out;
  }
}