.root{
  display: flex;
  background-color: black;
  height: auto;
  padding-top: 0;
  padding-bottom: 8rem;
  width: 100%;
}

.title{
  font-size: 45px;
  color: white;
}

.jobDesc{
  font-size: 15px;
  color: white;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 12px;
  margin-top:10px;
  font-weight: 300;
  line-height: 1.5;

}

.jobItems{
  border-radius: 30px;
  background-color: #fd91f5;
  padding: 15px 50px 0px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
}