.iconRight {
  align-items: center;
  display: flex;

  :not(:first-child):last-child {
    margin-left: 8px;
  }
}

.error {
  color: #CF212A;
  line-height: 18px;
}

.errorWrapper {
  background-color: #FFEBEF;
  border: 1px solid #EA2036;
  border-radius: 3px;
}

.label {
  color: #25282B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.desc {
  color: #52575C;
  font-family: var(--font-ubuntu);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}