@import './variables';

/*
* This mixins contain some reusable stylesheet
*/

// Use @include to use these breakpoints

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-portrait {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-down{
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-medium-desktop-up {
  @media (min-width: 1536px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// Custom mixins
@mixin divider($width) {
  height: 5px;
  width: $width;
  border-radius: 7px;
  background-color: $color-secondary;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
