.navbar {
  background-image: url('/assets/bg/bg-navigation.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: var(--width);
}

.hidden {
  width: var(--width);
  padding: 0;
}
