@import '../utilities/variables';

.root{
  background-color:$color-information-70;
  height: 100vh;
  text-align: center;
  h1{
    color:$color-gray-10;
    font-size: 13.75rem;
    margin:0 auto;
    max-height: 300px;
  }
  h3{
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 2.25rem;
    margin-top:0rem;
    color: $color-information-40,
  }
  p{
    max-width: 33.75rem;
    margin:0 auto;
    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
    color:$color-gray-10;
  }
}


